html {
max-width: fit-content;
max-height: none;
margin: auto;
background-image: linear-gradient(rgb(210, 210, 210), rgb(150, 150, 150));
}

body {
color: #056839;
background: scroll;


}

#jumbotron {
text-align: center;
align-content: center;
border-radius: 5px;
background-color: #f2f2f2;
padding: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

header {
  /* background-image: url(/Assets/img/SlowLab.png); */
  /* background-color: rgb(210, 210, 210); */
  /* image-orientation: from-image; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 10%; */
}

nav {
  padding: 30px 10%;

}

.nav-img {
  max-height: 50px;
  cursor: pointer;
  /* max-height: 100%; */
}


button {
padding: 9px 25px;
color: rgba(241, 89, 42, 1);
border: none;
border-radius: 50px;
transition: all 0.3s ease 0s;
cursor: pointer;
}

button:hover {
color: #056839;
}

.nav-bar {
  display: flex;
  flex-wrap: nowrap;
  /* background-color: rgb(210, 210, 210); */
  text-align: center;
  color: #F1592A;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

nav > ul > li {
  display: inline-block;
  padding: 9px 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.nav-bar ul li a:visited {
  color: #F1592A;}

.nav-bar ul li a:hover {
  color:#056839;
  transition: all 0.5s ease 0s;

}

.wrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  /* border: 2px;
  border-color: #F1592A;
  border-style: solid;
  padding: 0px; */
  border-collapse: separate;

}

.item {
height: 100%;
width: 100%;
border: 2px;
/* border-color: #F1592A;
border-style: solid; */

}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-area: auto;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item4 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #F1592A;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #056839;
}

/* Style the container/contact section */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

footer {

}
